/* Common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.header {
    background-color: rgba(229, 84, 115, 0.10);     
    margin: -10px -10px; 
} 

.banner {
    display: flex;
    align-items: center;
    padding: 0 130px;
    justify-content: space-between;
    margin-bottom: 130px;
}

.banner-content {
    width: 700px;
    align-items: center;
    margin: 30px 30px;
}

.banner-title {
    color: #272727;
    font-style: normal;
    font-size: 40px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.header-img {
    width: 400px;
    height: 500px;
    align-items: center;
    padding: 50px 0 0 350px;
}

/* feature section style */

.feature-text {
    text-align: center;
    margin: 60px 460px;
}

.feature-text-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
}

.feature-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    padding: 0 300px;
    margin: auto;
    width: 50%;
}

/* Flowers items section style */

.items {
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    
}

.flowers-item {
    align-items: center;
    margin: 0 10px;
} 

.flower-item {
    width: 300px;
    height: 380px;
    padding: 50px 40px 0 40px;
    border-radius: 300px 300px 0px 0px;
}

.flower-1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.item-text {
    text-decoration: underline;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

/* Deal section styles  */

.deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 80px 0;
    padding: 80px 120px;
}

.deal-content {
    align-items: center;
    text-align: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 594px;
}

.deal-img {
    width: 318px;
    height: 420px;
}

/* social media section style */

.instagram-text-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.instagram-text-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    margin: 0 460px;
}

/* Flowers section style */

.flowers {
    margin: 60px 140px 240px 0;
    text-align: center;    
}

.flower {
    width: 300px;
    height: 350px;
    align-items: center;
    margin: 0 2px;
}

/* Subscription section style */

.subscribe-form {
    text-align: center;
    background-image: url('/styles/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 80px  200px;
    height: 500px;
    width: 50%;
    margin: auto;
}

.subscribe-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.subscribe-subtitle {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.email {
    width: 600px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 5px;
    border: none;
}

input::placeholder {
    font-size: 20px;
    padding-left: 10px;
}

/* Footer section style */

.footer-content {
    text-align: center;
    background: #111010;
    height: 500px;
    margin: 130px -10px 0;
    padding: 100px 0 0;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    width: 50%;
}

.copy-right-text {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

