/* Common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.header {
    background-color: rgba(229, 84, 115, 0.10);     
    margin: -10px -10px; 
} 

.banner {
    display: flex;
    align-items: center;
    padding: 0 130px;
    justify-content: space-between;
    margin-bottom: 130px;
    
}

.banner-content {
    width: 700px;
    align-items: center;
    margin: 30px 30px;
}

.banner-title {
    color: #272727;
    font-style: normal;
    font-size: 40px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.header-img {
    width: 400px;
    height: 500px;
    align-items: center;
    padding: 50px 0 0 350px;

}

.feature-text {
    text-align: center;
    margin: 60px 460px;
}

.feature-text-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
}

.feature-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
}

.items {
    background: #FFF;
    display: flex;
    align-items: center;
    max-width: 1600px;
    justify-content: center;
}

.flowers-item {
    align-items: center;
    margin: 0 10px;
} 

.flower-item {
    width: 164px;
    height: 238px;
    padding: 50px 40px 0 40px;
    border-radius: 300px 300px 0px 0px;
}

.flower-1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.item-text {
    text-decoration: underline;
    text-align: center;
}

/* Deal section styles  */

.deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 80px 0;
    padding: 80px 120px;
}
.deal-content {
    align-items: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 594px;
}

.deal-img {
    width: 318px;
    height: 420px;
}